<div class="content">
    <p *ngIf="errorOrNotFound">Ошибка либо головоломку не найдено</p>
    <div *ngIf="puzzle" class="puzzle_data">
        <div class="puzzle_short_info">
            <h2>{{puzzle.name}}</h2>
            <img src="{{puzzle.photoUrl}}" alt="puzzle image" style="display:inline-block" width="200px"
                style="float:left">
            <div class="puzzle_specs">
                <table>
                    <tr>
                        <th>Тип</th>
                        <td>{{puzzle.typeId.name}}</td>
                    </tr>
                    <tr>
                        <th>Производитель</th>
                        <td>{{puzzle.manufacturerId.name}}</td>
                    </tr>
                    <tr>
                        <th>WCA</th>
                        <td>{{puzzle.isWCA}}</td>
                    </tr>
                </table>
            </div>

            <div class="puzzle_price">
                <b>Цена</b>
                <p>{{puzzle.price}}₴</p>
                <!-- <form method="POST"> -->
                <button id="btn_buy" name="puzzle_id" value="{{puzzle._id}}">В корзину</button>
                <!-- </form> -->
            </div>

        </div>
        
        <button *ngIf="this.auth.userIsManager()" class="btn btn-danger mt-5" (click)="confirm()">Удалить</button>

        <div class="puzzle_bio">
            <hr>
            <h3>Описание</h3>
            <hr>
            <p>{{puzzle.description_md}}</p>
            <!-- {{! @todo MDparser }} -->
        </div>

    </div>
</div>