<div class="content">
  <p *ngIf="errorOrNotFound">Ошибка либо головоломку не найдено</p>
  <app-loading *ngIf="!this.puzzle && !errorOrNotFound"></app-loading>
  <div class="container-fluid" *ngIf="puzzle">
    <h3>{{puzzle.name}}</h3>
    <div class="row">
      <div class="col-md-5">
        <div class="text-center">
          <img src="{{puzzle.photoUrl}}" style="max-width: 100%; max-height: 300px" alt="Картинка головоломки">
        </div>
      </div>
      <div class="col my-auto">
        <div class="row">
          <div class="col">
            <table class="table">
              <tr>
                <th>Тип</th>
                <td>{{puzzle.typeId.name}}</td>
              </tr>
              <tr>
                <th>Производитель</th>
                <td>{{puzzle.manufacturerId.name}}</td>
              </tr>
              <tr>
                <th>WCA</th>
                <td>{{puzzle.isWCA}}</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-4 mx-auto">
            <div class="row">
              <table class="table">
                <tr>
                  <td>Цена</td>
                  <td id="puzzle_price">{{puzzle.price}}</td>
                </tr>
              </table>
            </div>
            <div class="row">
              <button class="btn btn-success btn-lg" (click)="onBuyClicked()" [disabled]="!this.puzzle.isAvailable">
                {{this.puzzle.isAvailable ? 'В корзину' : 'Нет в наличии'}}
              </button>
              <ng-container *ngIf="auth.telegramId && !puzzle.isAvailable">
                <button class="btn btn-link" (click)="onNotify()">Сообщить о наличии</button>
              </ng-container>
              <pre>{{this.auth.telegramId}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-lg-3 mt-sm-5 mt-md-4 mt-5">
      <div class="row">
        <div class="col text-center mt-2">
          <button *ngIf="this.auth.userIsManager()" class="btn btn-outline-danger " (click)="confirm()">Удалить</button>
        </div>
        <div class="col text-center mt-2">
          <button *ngIf="this.auth.userIsManager()" class="btn btn-outline-info" (click)="onEditClicked()">Изменить</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="puzzle_bio mt-3">
      <p>{{puzzle.description_md}}
      </p>
    </div>
  </div>
</div>
