<div class="card">
    <div class="modal-header"> 
        <h4 class="modal-title" id="modal-basic-title">Корзина</h4>
        <button type="button" class="close" (click)="modal.dismiss(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <article class="modal-body">
        <div class="col">
            <div class="card" *ngIf="this.puzzles && this.puzzles.length == 0 && !this.loading">
                <div class="card-body">Корзина пуста</div>
            </div>
            <table class="table">
                <tr>
                    <th>Головоломка</th>
                    <th>Цена</th>
                </tr>
                <app-loading *ngIf="this.puzzles == null"></app-loading>
                <tr *ngFor="let cartItem of this.puzzles">
                    <td>
                        <a [routerLink]="['/puzzles', cartItem.puzzle._id]" (click)="modal.close()">
                            <div class="container-fluid">
                                <img src="{{cartItem.puzzle.photoUrl}}" alt="фото тут" width="100px">
                                <h6 class="mt-3">{{cartItem.puzzle.name}}</h6>
                            </div>
                        </a>
                    </td>
                    <td>
                        <div class="row">
                            <p>Цена <b>{{cartItem.puzzle.price}}</b></p>
                        </div>
                        <span class="btn-group mt-5">
                            <button type="submit" class="btn btn-outline-primary"
                                (click)="removePuzzle(cartItem.puzzle._id)" [class.disabled]="this.loading">-</button>
                            <span class="mx-3 mt-1">{{cartItem.count}}</span>
                            <button type="submit" class="btn btn-outline-primary"
                                (click)="insertPuzzle(cartItem.puzzle._id)" [class.disabled]="this.loading">+</button>
                        </span>
                    </td>
                </tr>
                <tr class="table-info">
                    <td>Всего</td>
                    <td>{{this.cartFullPrice}}</td>
                </tr>
            </table>
        </div>
    </article>
</div>