/*caption {*/
/*    caption-side: top;*/
/*    font-size: 40px;*/
/*}*/

.data {
    display: block;
    position: relative;
    max-width: inherit;
    height: 100%;
}

footer {
    float: right;
    width: 100%;
}

#content {
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.6);
    margin-top: 10px;
}

/*.content p {*/
/*    font-size: 20px !important;*/
/*}*/

#puzzles .card {
    height: 100%;
}

