<div class="content">
    <table class="table">
        <!-- {{! <th scope="row">1</th> для жирного шрифта номерации}} -->
        <caption>Пользователи</caption>
        <thead>
            <tr>
                <th scope="col">Логин</th>
                <th scope="col">Имя и фамилия</th>
                <th scope="col">Дата регистрации</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td scope="col"><a routerLink="['/users', {{user._id}}]">{{user.login}}</a></td>
                <td scope="col">{{user.fullname}}</td>
                <td scope="col">{{user.registeredAt}}</td>
            </tr>
        </tbody>
    </table>
</div>