<div class="content">
    <div class="spinner-border" *ngIf="!users"></div>
    <table *ngIf="users" class="table">
        <!-- {{! <th scope="row">1</th> для жирного шрифта номерации}} -->
        <caption>Пользователи</caption>
        <thead>
            <tr>
                <th scope="col">Логин</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Дата регистрации</th>
            </tr>
        </thead>
        <tbody *ngIf="users">
            <tr *ngFor="let user of users">
                <td scope="col"><a [routerLink]="['/users', user._id]">{{user.login}}</a></td>
                <td scope="col">{{user.first_name}}</td>
                <td scope="col">{{user.last_name}}</td> 
                <td scope="col">{{user.registeredAt}}</td>
            </tr>
        </tbody>
    </table>
</div>