<div class="content">
    <p>Добро пожаловать в интернет-магазин головоломок "Кубанутый"</p>
    <p>Здесь ты найдеш все, чего душа пожелает! От простых кубиков 3 на 3 до невероятных, взрывающих мозг, головоломок.
        Поспеши забрать свою радость!</p>
    <p>В нашем магазаине закупаютя только самые лучшие, будь одним из нас!</p>
    <p>Так же у нас на сайте доступна авторизация через Telegram!<br>Подлючись и получай важные обновления заказов и первым узнавай, когда головоломка появится в наличии!
        <button class="btn btn-link" *ngIf="!auth.telegramId" [routerLink]="['users', this.auth.userId]">Подключится</button></p>
</div>