<div class="content">
  <h1>{{this.isEditing ? 'Изменение головоломки': 'Добавление головоломки'}}</h1>
  <hr>
  <form [formGroup]="puzzleForm" *ngIf="puzzleForm && typesAndManufacturers"
  (ngSubmit)="onPuzzleSubmit(this.puzzleForm.value)">
    <fieldset>
      <app-loading *ngIf="!this.puzzle"></app-loading>
      <div class="row" *ngIf="this.puzzle">
        <div class="col-lg-8">
          <div class="form-row">
            <div class="form-group col-lg-8">
              <label for="inputName">Название</label>
              <input type="text" [class.is-invalid]="!nameIsValid()" class="form-control form-control-lg"
                     id="inputName" formControlName="name" placeholder="Gan, Moyu..." required>
              <div class="invalid-feedback">
                Длина имени должна быть 4 и больше символов<br>Запрещенные символы <br> {{forbiddenSymbols | json}}</div>
            </div>
            <div class="form-group col-lg-4">
              <label for="inputPrice">Цена</label>
              <input id="inputPrice" [class.is-invalid]="!priceIsValid()"
                     class="form-control form-control-lg" type="number" formControlName="price" min="0"
                     max="10000" placeholder="250">
            </div>
          </div>
          <div class="form-row">

            <div class="form-group col-lg-5 col-10">
              <label for="inputType">Выбор типа</label>
              <select class="form-control form-control-lg" [class.is-invalid]="!typeIdIsValid()"
                      formControlName="typeId" id="inputType">
                <option
                  *ngFor="let type of typesAndManufacturers.types"
                  [ngValue]="type._id"
                  [selected]="this.puzzle.typeId._id == type._id">
                  {{type.value}}</option>
              </select>
            </div>

            <div class="form-group col-lg-1 col-2">
              <button class="btn btn-outline-primary mt-5" disabled>+</button>
            </div>

            <div class="form-group col-lg-5 col-10">

              <label for="inputManufacturer">Выбор производителя</label>
              <select [class.is-invalid]="!manufacturerIdIsValid()" class="form-control form-control-lg"
                      id="inputManufacturer" formControlName="manufacturerId">
                <option *ngFor="let m of typesAndManufacturers.manufacturers" [ngValue]="m._id"
                        [selected]="(this.puzzle.manufacturerId._id || '') == m._id">
                  {{m.value}}</option>
              </select>

            </div>
            <div class="form-group col-lg-1 col-2">
              <button class="btn btn-outline-primary mt-5" disabled>+</button>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-lg-6 col-md-6 col-sm-6">
              <label for="inputWCA">WCA</label>
              <select class="form-control form-control-lg" name="isWCA" formControlName="isWCA">
                <option [ngValue]="true" [selected]="puzzle.isWCA == true">Да</option>
                <option [ngValue]="false" [selected]="puzzle.isWCA == false">Нет</option>
              </select>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6">
              <label for="inputAvailable">В наличии</label>
              <select class="form-control form-control-lg" id="inputAvailable" name="isAvailable"
                      formControlName="isAvailable">
                <option [ngValue]="true"  [selected]="puzzle.isAvailable == true"> Да</option>
                <option [ngValue]="false" [selected]="puzzle.isAvailable == false">Нет</option>
              </select>
            </div>
          </div>
          <div class="form-row ml-1">
            <div class="form-group">
              <label for="inputDescrition">Описание</label>
              <textarea [class.is-invalid]="!description_mdIsValid()" class="form-control"
                        id="inputDescrition" rows="10" cols="70" formControlName="description_md"></textarea>
              <small class="invalid-feedback">
                Этот текст не должен быть пустым</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label>Картинка</label>
            <div class="custom-file">
              <label for="customFile">Выберите файл</label>
              <input #imageInput type="file" accept="image/*" (change)="onFileSelected($event)">
            </div>
          </div>
          <img id="bufferImage"
               src="{{puzzle.photoUrl || 'https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?v=1530129081'}}"
               alt="Placeholder image" width="90%" class="mx-auto">
        </div>
      </div>
    </fieldset>
<!--    <p>{{puzzleForm.value | json}}</p>-->
  </form>
  <span *ngIf="puzzleForm && typesAndManufacturers">
    <button class="btn btn-outline-primary btn-lg"
            (click)="confirmCreation(puzzleForm.value)"
      [disabled]="!this.puzzleForm.valid">{{ this.isEditing ? 'Изменить' : 'Добавить'}}</button>
        <button type="button" class="btn btn-oultile-secondary btn-lg" (click)="this.navigateBack()">Отмена</button>
    </span>
</div>
