@import "./common.css";

.filter_container .filter_box p {
    font-size: 20px;
    margin: 5px;
}

.filter_container .filter_box table {
    width: 100%;
}

.filter_container .filter_box td {
    width: auto;
}

.filter_container .filter_box input:hover {
    cursor: pointer;
}

.filter_container .filter_box caption{
    text-align: center;
    font-size: 24px;
    width: 100%;
}

.filter_container .filter_box caption:hover{
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}


.filter_container {
    display: block;
    float: left;
    margin-top: 13px;
    position: relative;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.puzzle_data {
    display: inline-block;
    position: relative;
    left: 10px;
    width: 90%;
}

.puzzle_data img {
    position: relative;
    top: 18px;
}

.puzzle_data p {
    font-size: 22px;
}

.puzzle_data h1 {
    margin-top: 0px;
}

.puzzle_price {
    display: inline-block;
    position: relative;
    right: 50px;
    top: -10px;
    float: right;
}

.puzzle_price b {
    font-size: 32px;
}

.puzzle_price p {
    font-size: 29px;
}

.puzzle_price #btn_buy {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

.filter_container #btn_filter {
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
}

#btn_filter:hover, #btn_block_buy:hover, #btn_buy:hover{
    background: rgb(23, 156, 88);
    cursor: pointer;
    transition: 0.2s;
}

.puzzle_short_info {
    display: inline-block;
    width: 100%;
    /* float: right; */
}

.puzzle_specs {
    /* float: right; */
    display: inline-block;
    /* width: 70%; */
}

.puzzle_specs table {
    display: block;
    text-align: left;
    border-spacing: 20px;
}

.puzzle_bio p {
    font-size: 18px;
}

.content_puzzles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.puzzle_block p {
    font-size: 20px;
    margin: 5px auto;
}

.puzzle_block caption {
    font-size: 20px;
    display: block;
    text-align: center;
}

.puzzle_block img {
    margin: 0 auto;
    display: block;
}

.puzzle_block a {
    text-decoration: none;
    color: dodgerblue;
}


.puzzle_block {
    display: inline-block;
    margin: 10px;
    width: 28%;
    min-height: 350px;
    padding-bottom: 10px;
    padding-left: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.puzzle_block img {
    width: 100%;
}

.puzzle_block_price {
    width: 100%;
}

#btn_block_buy {
    position: relative;
    right: 4%;
    bottom: 50%;
    background: rgb(64,199,129);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    float: right;
}

.menu .btn {
    width: 100%;
    background: var(--main-bg);
    font-size: 22px;
}

.menu .btn:hover {
    background: var(--main-bg-hover);
}

.puzzle_block_price img, .puzzle_block_price table{
    display: inline;
    font-size: 15px;
}

.card {
    width: calc(1200px - 25%*1200px);
}

.menu {
    width: 21%;
    float: left;
    margin: 10px;
    display: block;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}


.menu ul {
    padding-left: 0;
    margin-top: 15px;
    list-style-type: none;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.menu ul a {
    display: inline-block;
    background-color: rgb(32, 146, 212);
    padding: 7px;
    color: white;
    font-size: 28px;
    width: 94%;
    text-decoration: none;
}

.menu ul a:hover {  
    transition: 1s;
    background-color: rgb(44, 116, 175);
}
.table_content a {
    font-size: 22px;
    font-family: monospace;
}