.menu .btn {
    /* width: 100%; */
    /* font-size: 22px; */
    margin-bottom: 10px;
    margin-top: 10px;
}



.puzzle_block_price img, .puzzle_block_price table{
    display: inline;
    font-size: 15px;
}

.card {
    /* width: calc(1200px - 25%*1200px); */
    z-index: 0;
    position: relative;
}

.menu {
    width: 21%;
    float: left;
    margin: 10px;
    display: block;
}

.menu ul a:hover {  
    transition: 1s;
    background-color: rgb(44, 116, 175);
} 


#filters .btn-block {
    margin-top: 10px;
    margin-bottom: 15px;
}

#filters a[aria-expanded="true"] {
    background:#0c28c7;
}