<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">

        <ul class="navbar-nav mr-auto" *ngIf="linksAreActive">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Домой</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/puzzles">Головоломки</a>
            </li>
            <li *roles="['customer', 'manager']" class="nav-item">
                <a class="nav-link" routerLink="/users">Пользователи</a>
            </li>
            <li *roles="['manager']" class="nav-item">
                <a class="nav-link" routerLink="/orders">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">О нас</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="!this.auth.isAuthenticated()">
                <a class="nav-link" (click)="loginClicked()" style="cursor: pointer;">Войти</a>
            </li>
            <li class="nav-item dropdown" *ngIf="this.auth.isAuthenticated()">
                <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" style="cursor: pointer;">
                    Моя страница
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/users', this.auth.userId]">Профиль</a>
                    <a class="dropdown-item">Корзина</a>
                    <hr>
                    <a class="dropdown-item" (click)="logoutClicked()" style="cursor: pointer;">Выйти</a>
                </div>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container-fluid">
        <span [routerLink]="['/']" style="cursor: pointer;">
            <img src="https://res.cloudinary.com/webprogbase/image/upload/v1572162882/logo_qqvoc0.jpg" width="100px">
            <a class="navbar-brand">Кубанутый</a>
        </span>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto" *ngIf="this.linksAreActive">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Домой</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/puzzles">Головоломки</a>
                </li>
                <li *roles="['customer', 'manager']" class="nav-item">
                    <a class="nav-link" routerLink="/users">Пользователи</a>
                </li>
                <li *roles="['manager']" class="nav-item">
                    <a class="nav-link" routerLink="/orders">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">О нас</a>
                </li>
                <li class="nav-item" *ngIf="!this.auth.isAuthenticated()">
                    <a class="nav-link" (click)="loginClicked()" style="cursor: pointer;">Войти</a>
                </li>
                <li class="nav-item dropdown" *ngIf="this.auth.isAuthenticated()">
                    <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" style="cursor: pointer;">
                        Моя страница
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/users', this.auth.userId]">Профиль</a>
                        <a class="dropdown-item" (click)="cartClicked()" style="cursor: pointer;">Корзина</a>
                        <hr>
                        <a class="dropdown-item" (click)="logoutClicked()" style="cursor: pointer;">Выйти</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>