<div class="content">
    <div class="text-center" *ngIf="!user && !errorOrNotFound">
        <app-loading></app-loading>
    </div>
    <p *ngIf="errorOrNotFound">Ошибка или пользователь не найден</p>
    <div *ngIf="user" class="container-fluid">
        <div class="col">
            <div class="row">
                <div class="col-md-4 col-lg-4 mx-auto text-center">
                    <img src="{{user.avaUrl}}" alt="User avatar" width="100%">
                </div>
                <div class="col">
                    <h1>{{user.first_name + ' ' + user.last_name}}</h1>
                    <p id="username">{{user.login}}</p>
                    <!-- <p>Дата регистрации {{user.registeredAt | date:'dd-MM-yyyy hh-mm'}}</p> -->
                    <app-local-date-time [rawdate]="user.registeredAt"></app-local-date-time> 
                    <p>Роль {{user.role}}</p>

                    <div *roles="['admin']">
                        <select class="form-control form-control-lg"
                            *ngIf="user._id != this.auth.userId && user.role != 'admin'" [value]="selectedRole"
                            (change)="onRoleSeleted($event.target.value)">
                            <option *ngFor="let role of roles">{{role}}</option>
                        </select>
                    </div>
                    <button *ngIf="user.role != selectedRole" class="btn btn-outline-primary my-3"
                        (click)="onRoleChange()">Изменить роль пользователя</button>
                </div>
            </div>
            <div class="row mt-2 container-fluid">
                <div class="col-lg-8 col-sm my-1">
                    <div class="container">
                        <button *ngIf="this.canEditHimSelf" style="float: left;" class="btn btn-outline-info"
                            (click)="onEditClicked()">Изменить</button>
                    </div>
                </div>
                <ng-container *ngIf="this.user._id == this.auth.userId">
                    <div class="col-lg-4 col-sm my-1">
                        <div *ngIf="!this.user.telegramId" class="container">
                            <app-telegram-widget updateUser="true"></app-telegram-widget>
                        </div>
                    </div>
                </ng-container>
            </div>
            <hr>
            <h3>О себе</h3>
            <hr>
            <div id="user_bio">
                <p>{{user.bio_md}}</p>
            </div>
        </div>
    </div>
</div>