<div class="content">
    <div class="col">
        <div class="row">
            <div class="col-lg-8 col-md col-sm">
                <div class="card my-4 px-3">
                    <h3>Создатель интернет-магазина</h3>
                    <p> Cтудент второго курса Факультета Прикладной Математики КПИ <br><u> Андрей Коваль</u></p>
                    <a href="https://www.facebook.com/ander.ziovio">Facebook</a><br>
                    <a href="https://t.me/ZioSmith">Telegram</a><br>
                    <pre>anderkoval3@gmail.com</pre><br>
                </div>
                <div class="card my-4 px-3">
                    <h3>Использованный стек</h3>
                    <ul>
                        <li>
                            <h5> Backend</h5>
                            <a href="https://expressjs.com/ru/">Node.js Express</a><br>
                            <a href="https://github.com/yagop/node-telegram-bot-api">node-telegram-bot-api</a><br>
                        </li>
                        <br>
                        <li>
                            <h5>Frontend</h5>
                            <a href="https://angular.io/">Angular</a><br>
                            <a href="https://ng-bootstrap.github.io/#/home">Angular bootstap</a> <br>
                        </li>
                        <br>
                        <li>
                            <h5>Host</h5>
                            <a href="https://www.heroku.com/">Heroku</a> <br>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md col-sm my-4">
                <img src="https://res.cloudinary.com/webprogbase/image/upload/v1576316292/zwua7i4689imbt2aaj8y.png"
                    alt="" width="100%">
            </div>
        </div>
    </div>
</div>