<div class="content">
    <p>Добро пожаловать в интернет-магазин головоломок "Кубанутый"</p>
    <p>Здесь ты найдеш все, чего душа пожелает! От простых кубиков 3 на 3 до невероятных, взрывающих мозг, головоломок.
        Поспеши забрать свою радость!</p>
    <p>В нашем магазаине закупаютя только самые лучшие, будь одним из нас!</p>

    <h1>Фильтры пока не работают, кроме поиска по подстроке, добавление нового производителя и типа тоже. Подобная
        динамика будет реализована далее!</h1>
</div>