/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    overflow: unset;
}

:root {
    --main-bg: rgba(0,0,0,.03); 
    --main-bg-hover: rgb(223, 219, 219);;
  }

body {
    max-width: 1400px;
    position:relative;
    height: 100%;
    margin: 0px auto;
    padding-bottom: 50px;
}

footer {
    float: right;
    width: 100%;
}

.content {
    font-size: 20px;
}
