<div class="card">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Войти</h4>
        <button type="button" class="close" (click)="modal.dismiss(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    <article class="card-body">
        <form [formGroup]="loginForm">
            <div class="form-group">
                <label>Логин</label>
                <input formControlName="login" class="form-control" placeholder="SuperMacho138"
                    [class.is-invalid]="this.formHelper.isInvalidFormControl('login', this.loginForm)">
                <div class="invalid-feedback">Длина от 5 до 30 символов</div>
            </div>
            <div class="form-group">
                <a class="float-right">Забыли пароль?</a>
                <label>Пароль</label>
                <input formControlName="password" class="form-control" type="password"
                    [class.is-invalid]="this.formHelper.isInvalidFormControl('password', this.loginForm)">
                <div class="invalid-feedback">Длина от 5 до 30 символов</div>
            </div>
            <div class="form-group">
                <button id="submit" class="btn btn-primary btn-block" (click)="login($event)" [disabled]="!this.loginForm.valid">
                    Войти 
                </button>
            </div>
        </form>
        <div class="text-center">
            <small *ngIf="isInvalidLoginOrPassword" class="text-danger">Неправильный логин или
                пароль</small>
        </div>
        <app-telegram-widget></app-telegram-widget>
    </article>
    <div class="border-top card-body text-center">Нет аккаунта?<button (click)="modal.close('reg')"
            class="btn btn-link">Зарегестрироватся</button></div>
    <!-- <pre>{{this.loginForm.valid}}</pre> -->
</div>